/* Variáveis */
$backgroundCinza: #eef0f8;
$brancoPadrao: #fff;
$pretoPadrao: #181c32;
$cinza500: #9999a3;
$azulAccordion: #0c63e4;
$azulTimeline: #0d6efd;
$azulBtnPrimary: #005ca9;
$azul200: #e1e9ff;

/* Box principal */
div.card.box-app {
   background-color: $brancoPadrao;
   border: none;
   border-radius: 3px;
   padding: 0;

   div.card-header {
      background-color: transparent;
      font-size: 1.3rem;
      margin: 0.765rem 1.5rem;
      padding: 1rem .5rem 0 .5rem;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      &.header-historico-fiduciario {
         background-color: transparent;
         font-size: 1.3rem;
         margin: 0;
         padding: 1.75rem;
         border-bottom: 1rem solid $backgroundCinza;
         margin-bottom: 1rem;
      }

      h3 {
         color: $pretoPadrao;
         font-size: 1.275rem;
         font-weight: 600;
      }

      .sub-title {
         color: $cinza500;
         font-size: 1.1rem;
      }

      figure.logo {
         background-color: $backgroundCinza;
         border-radius: 3px;
         height: 125px;
         padding: 10px;
         width: 125px;
      }

      .collapse-partes.d-flex,
      span,
      span small {
         font-size: 0.90rem;
      }

      div.card-subtitle {
         font-size: .9rem;
      }

      strong.protocolo-historico {
         font-size: 1.050rem;
      }

      .collapse-partes.d-flex {

         div.parte:nth-child(n + 4) {
            display: none;
         }

         a:nth-child(n + 5) {
            display: none !important;
         }
      }
   }

   div.card-body {
      padding: 1rem 2rem;

      div.status-card {
         border-radius: 10px;
      }

      .accordion-mod {
         border: 0;
      }

      .image-mod {
         margin-top: -90px;
      }

      .accordion-button {
         color: $azulAccordion;
         background-color: $brancoPadrao !important;
         border-bottom: 1px solid $azulAccordion;
      }

      .card-body-gerenciamento {
         margin-bottom: 0.5rem;
         padding: 0.75rem 1.5rem !important;

         .dropdown-solicitacoes {
            border-end-end-radius: 0;
            border-start-end-radius: 0;
         }
      }

      .card-body-historico {
         margin-bottom: 2.5rem;
         padding: 0.75rem 1.5rem !important;

         .dropdown-solicitacoes {
            border-end-end-radius: 0;
            border-start-end-radius: 0;
         }
      }

      /* Wizard */
      .wizard {

         .wizard-item {
            color: #b5b5c3;

            >span {
               font-size: 1.5rem;
               margin-right: .2rem;
            }

            &::after {
               content: "";
               display: block;
               background-color: #e0e0e0;
               height: 5px;
               width: 100%;
            }

            &.active {
               color: #2881b9;

               &::after {
                  background-color: #2881b9;
               }
            }
         }
      } 
   }

   div#card-body-listagem {
      padding: 0;

      div.card-listagem:first-child {

         >div.card-header {
            padding-top: 0 !important;
         }
      }

      div.card-listagem {
         border-bottom: 1rem solid $backgroundCinza;

         div.header-data {
            font-size: .8rem;

            .btn {
               font-size: .8rem !important;
            }
         }

         .container {
            margin-left: -29.5%;

            /* Timleline dentro de detalhes da solicitação */
            .timeline {
               padding: 50px 0;
               position: relative;

               &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 50%;
                  width: 0;
                  border-left: 1px solid $azulTimeline;
                  height: 100%;
                  z-index: 1;
                  transform: translateX(-50%);
               }

               .timeline-nodes {
                  padding-bottom: 35px;
                  position: relative;

                  .timeline-content {
                     position: relative;
                     border-radius: 0 0 10px 10px;
                     box-shadow: 0px 2px 2px 0px rgba(10, 55, 90, 0.2);
                     padding-left: 0;
                     padding-right: 0;

                     h6, p {
                        padding: 5px 15px;
                     }

                     h6 {
                        padding: 13px;
                        font-weight: lighter;
                        background: $azul200;
                        color: $azulBtnPrimary;
                        font-weight: 500;
                     }
                  }

                  .timeline-image {
                     position: relative;
                     z-index: 100;

                     img {
                        position: relative;
                        z-index: 100;
                     }

                     &::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        border: 1px solid $azulTimeline;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: $brancoPadrao;
                        z-index: 1;
                        margin-top: 20px;
                     }
                  }

                  &:nth-child(even) {
                     flex-direction: row-reverse;
                  }

                  &:nth-child(odd),
                  &:nth-child(even) {

                     .timeline-date {
                        text-align: right;
                     }

                     .timeline-content::after {
                        content: "";
                        position: absolute;
                        top: 5%;
                        right: 100%;
                        width: 0;
                        border-right: 10px solid $azul200;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                     }
                  } 
               }
            }
         }

         .separador {
            border-bottom: 1rem solid $backgroundCinza;
         }
      }
   }

   div.card-filter {
      background-color: #EFEFEF;
      display: none;
      margin: 0 1.5rem;
      padding: .75rem 1rem;
   }

   ul.nav {
      padding: 0 1rem;

      li.nav-item {
         margin-bottom: 0;
         padding: 0 1rem;

         >a {
            border: 0;
            border-bottom: 1px solid transparent;
            color: #545454;
            font-weight: bold;
            padding: 1rem 0;

            &.active,
            &:hover,
            &:focus {
               color: #004d7c;
               border-bottom: 3px solid #004d7c;
            }
         }
      }
   }

   div.tab-content {
      padding: 2rem;
   }

   /* Ícones */
   button.btn-primary,
   button.btn-light-primary {

      span.imprimir {
         padding-right: 18px;
         padding-left: 2px;
      }

      span.nova_solicitacao,
      span.novo_usuario {
         padding-left: 11px;
      }

      span.editar_usuario,
      span.remover_usuario {
         padding-left: 20px;
      }

      i.fi-rr-add:before,
      i.fi-rr-user-add:before,
      i.fi-rr-edit:before,
      i.fi-rr-trash:before {
         position: absolute !important;
         padding-top: 3.6px;
      }

      i.fi-rr-disk:before {
         position: absolute !important;
         padding-top: 4px;
         right: 100%;
         left: 85.5%;
      }
   } 

   a.btn-primary,
   button.btn-primary {
      background-color: $azulBtnPrimary;
      border-color: $azulBtnPrimary;

      &:hover {
         background-color: #2d458d;
         border-color: #2d458d;
      }
   }
}

/* Botões */
button {
   font-size: .85rem !important;
}

.container.mt-4 div div.buttons button,
.container.mt-4 div div.buttons a {
   font-size: .85rem;
}

/* Tabs */
#pills-tabContent div.h-100 {
   padding: 1.5rem 2rem 0 2rem !important;
}

aside a {
   color: #3f4254 !important;
   text-decoration: none;

   &:hover {
      color: $azulTimeline !important;
   }
}

.nav-item .active,
a:active {
   color: white !important;
   text-decoration: none !important;

   &:hover {
      color: white !important;
   }
}

/* Formulário */
.form-control {
   font-size: .9rem;

   &.form-control-solid {
      background-color: #ebeff2;
      border-color: #ebeff2;
      color: #3f4254;
      -webkit-transition: color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
      transition: color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
      transition: color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease;
      transition: color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease, -webkit-box-shadow .15s ease;
   }
}

.custom-control-label::before {
   background-color: $brancoPadrao;
   border: 1px solid #CCC;
}

/* Footer */
footer {

   div.container {

      a.text-decoration-none {
         color: black;
         transition: .85s;

         &:hover {
            color: #004d7c;
         }
      }
   }
}

/* Media Querys */

/* Medium device style */
@media (max-width: 767.98px) {

   div.header-progresso {
      width: 100% !important;
   }

   div.card-body {
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      .card-body-historico {
         margin-bottom: 0.5rem !important;
      }
   }

   div.card-listagem {

      .w-md-100 {
         width: 100%;
      }

      div.container {
         margin-left: 0 !important;

         .timeline {
            padding: 25px 0 !important;

            &::before {
               display: none !important;
            }

            .timeline-nodes {

               .timeline-image {
                  display: none !important;
               }

               .timeline-content {
                  width: 100%;

                  h6 {
                     font-size: 1.05rem;
                  }

                  p {
                     font-size: 14px;
                  }   

                  &::after {
                     display: none !important;
                  }
               }
            }
         }
      }
   }
}