.container {
   max-width: 1140px;
}

header {
   border-bottom: 1px solid rgba(255, 255, 255, .1);

   .container {
      height: 80px;
      padding-top: 9px;
   }

   nav.navbar {
      padding: .5rem 0;

      ul.navbar-nav {
         margin-left: 1rem;

         ul.dropdown-menu li {
            margin: .5rem;
         }

         >li.nav-item {
            padding: 0 .25rem;

            >a.nav-link {
               border-radius: .42rem;
               color: #FFF;
               padding: .75rem 1.25rem;

               &.disabled {
                  color: rgba(255, 255, 255, .8);
               }
            }

            &.active>a.nav-link,
            &>a.nav-link:hover {
               background-color: rgba(255, 255, 255, .1);
            }
         }

      }

      div.user {

         .dropdown-menu {
            width: 100%;
            padding: .5rem;

            .dropdown-item {
               margin: .5rem 0;
            }
         }

         button {
            font-size: 14px;
            padding: .3rem .4rem;

            &::after {
               display: none;
            }

            &:hover {
               background-color: rgba(255, 255, 255, .2);
            }

            >span.initial {
               background-color: rgba(255, 255, 255, .2);
               border-radius: .42rem;
               height: 35px;
               line-height: 35px;
               width: 35px;
            }
         }
      }

   }
}

/* Subheader */
div#sub-header {
   height: 150px;

   .dropdown-menu {

      .dropdown-item {
         padding: 1rem;
      }
   }

   ol.breadcrumb {
      background-color: transparent;
      padding: 0;
   }

   ol.breadcrumb>li.breadcrumb-item {
      color: #FFF;
   }

   ol.breadcrumb>li.breadcrumb-item>a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
   }

   ol.breadcrumb>li.breadcrumb-item+li.breadcrumb-item::before {
      color: #FFF;
   }

   div.signature a {
      color: #FFF;
      display: inline-block;
      line-height: 1.1;
      text-decoration: none;
   }

   .breadcrumb-item+.breadcrumb-item::before {
      content: "•";
   }
}

/* btn initial */
span.initial.text-white {
   background-color: rgba(255, 255, 255, .2);
   border-radius: .42rem;
   height: 35px;
   line-height: 35px;
   width: 35px;
}

#btn-contas {

   &:hover {
      background-color: rgba(255, 255, 255, 0.2);
   }

   &::after {
      display: none;
   }
}

/** Media querys **/

// 0 até "lg"
@media (max-width: 991px) {
   .navbar-collapse.justify-content-between {
      background-color: #203D75;
      z-index: 2;
   }
}