* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eef0f8;
    background-image: url('../../assets/cliente-logo.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 350px;
    font-family: 'Poppins', sans-serif;
    font-size: .835rem;
}
