@charset "UTF-8";
div.card.box-app {
  background-color: #FFF;
  border: none;
  border-radius: 3px;
  padding: 0;
  /* Wizard */
  /* CardStatus */
}
div.card.box-app div.card-header {
  background-color: transparent;
  font-size: 1.3rem;
  margin: 0.765rem 1.5rem;
  padding: 1rem 0.5rem 0 0.5rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
div.card.box-app div.card-header h3 {
  color: #181c32;
  font-size: 1.275rem;
  font-weight: 600;
}
div.card.box-app div.card-header .sub-title {
  color: #9999a3 !important;
  font-size: 1.1rem;
}
div.card.box-app div.card-header figure.logo {
  background-color: #eef0f8;
  border-radius: 3px;
  height: 150px;
  padding: 10px;
  width: 150px;
}
div.card.box-app div.card-header .collapse-partes.d-flex,
div.card.box-app div.card-header span,
div.card.box-app div.card-header span small {
  font-size: 0.9rem;
}
div.card.box-app div.card-header div.card-subtitle {
  font-size: 0.9rem;
}
div.card.box-app div.card-header strong.protocolo-historico {
  font-size: 1.05rem;
}
div.card.box-app div.card-header .collapse-partes.d-flex div.parte:nth-child(n+4) {
  display: none;
}
div.card.box-app div.card-header .collapse-partes.d-flex a:nth-child(n+5) {
  display: none !important;
}
div.card.box-app div.card-body {
  padding: 1rem 2rem;
}
div.card.box-app div.card-body .card-body-historico {
  margin-bottom: 2.5rem;
  padding: 1rem !important;
}
div.card.box-app div.card-body .card-body-historico .dropdown-solicitacoes {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
}
div.card.box-app div#card-body-listagem {
  padding: 0;
}
div.card.box-app div.card-filter {
  background-color: #EFEFEF;
  display: none;
  margin: 0 1.5rem;
  padding: 0.75rem 1rem;
}
div.card.box-app ul.nav {
  padding: 0 1rem;
}
div.card.box-app ul.nav li.nav-item {
  margin-bottom: 0;
  padding: 0 1rem;
}
div.card.box-app ul.nav li.nav-item > a {
  border: 0;
  border-bottom: 1px solid transparent;
  color: #545454;
  font-weight: bold;
  padding: 1rem 0;
}
div.card.box-app ul.nav li.nav-item > a.active, div.card.box-app ul.nav li.nav-item > a:hover, div.card.box-app ul.nav li.nav-item > a:focus {
  color: #004d7c;
  border-bottom: 3px solid #004d7c;
}
div.card.box-app div.card-header.header-historico-fiduciario {
  background-color: transparent;
  font-size: 1.3rem;
  margin: 0;
  padding: 1.75rem;
  border-bottom: 1rem solid #eef0f8;
  margin-bottom: 1rem;
}
div.card.box-app div.tab-content {
  padding: 2rem;
}
div.card.box-app .wizard .wizard-item {
  color: #b5b5c3;
}
div.card.box-app .wizard .wizard-item::after {
  content: "";
  display: block;
  background-color: #e0e0e0;
  height: 5px;
  width: 100%;
}
div.card.box-app .wizard .wizard-item.active {
  color: #2881b9;
}
div.card.box-app .wizard .wizard-item.active::after {
  background-color: #2881b9;
}
div.card.box-app .wizard .wizard-item > span {
  font-size: 1.5rem;
  margin-right: 0.2rem;
}
div.card.box-app div.status-card {
  border-radius: 10px;
}

.collapse-partes button.btn-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Alertas */
/* Alertas iniciais */
div.alertas a.alerta {
  background: white;
  border: 1px solid #EAEAEA;
  border-bottom: 5px solid #EAEAEA;
  border-radius: 0 0 2px 2px;
  color: #545454;
  display: block;
  padding: 2rem 1rem 1.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
}
div.alertas a.alerta:hover {
  color: black;
}
div.alertas a.alerta:hover > i {
  border-color: black;
}
div.alertas a.alerta > span.badge {
  border-radius: 0 0 0 12px;
  display: block;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
div.alertas a.alerta > i {
  border: 3px solid #EAEAEA;
  border-radius: 100%;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  transition: 0.4s;
}

/* Tabs */
#pills-tabContent div.h-100 {
  padding: 1.5rem 2rem 0 2rem !important;
}

/**** Estilos gerais ****/
/* Botões */
button {
  font-size: 0.85rem !important;
}

.btn-primary {
  background-color: #005ca9;
  border-color: #005ca9;
}

.container.mt-4 div div.buttons button,
.container.mt-4 div div.buttons a {
  font-size: 0.85rem;
}

table td.options a,
table td.options div.btn-group button,
div.row .col input {
  font-size: 0.85rem;
}

/* Badges */
table tbody tr td span.bg-primary {
  background-color: #005ca9 !important;
}

aside a {
  color: #3f4254 !important;
  text-decoration: none;
}
aside a:hover {
  color: #0d6efd !important;
}

.nav-item .active,
a:active {
  color: white !important;
  text-decoration: none !important;
}
.nav-item .active:hover,
a:active:hover {
  color: white !important;
}

.accordion-mod {
  border: 0;
}

.image-mod {
  margin-top: -90px;
}

.accordion-button {
  color: #0c63e4;
  background-color: #fff !important;
  border-bottom: 1px solid #0c63e4;
}

/* Formulário */
.form-control {
  font-size: 0.9rem;
}

.form-control.form-control-solid {
  background-color: #ebeff2;
  border-color: #ebeff2;
  color: #3f4254;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.custom-control-label::before {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
}

div.header-data {
  font-size: 0.8rem;
}

div.header-data .btn {
  font-size: 0.8rem !important;
}

div.header-progresso {
  font-size: 0.8rem;
}

div.card-listagem {
  border-bottom: 1rem solid #eef0f8;
}
div.card-listagem .container {
  margin-left: -29.5%;
}
div.card-listagem .separador {
  border-bottom: 1rem solid #eef0f8;
}
div.card-listagem .timeline {
  padding: 50px 0;
  position: relative;
}
div.card-listagem .timeline-nodes {
  padding-bottom: 35px;
  position: relative;
}
div.card-listagem .timeline-nodes:nth-child(even) {
  flex-direction: row-reverse;
}
div.card-listagem .timeline h6,
div.card-listagem .timeline p {
  padding: 5px 15px;
}
div.card-listagem .timeline h6 {
  padding: 13px;
  font-weight: lighter;
  background: #e1e9ff;
  color: #005ca9;
  font-weight: 500;
}
div.card-listagem .timeline p,
div.card-listagem .timeline time {
  color: #0d6efd;
}
div.card-listagem .timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  border-left: 1px solid #0d6efd;
  height: 100%;
  z-index: 1;
  transform: translateX(-50%);
}
div.card-listagem .timeline-content {
  position: relative;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 2px 0px rgba(10, 55, 90, 0.2);
  padding-left: 0;
  padding-right: 0;
}
div.card-listagem .timeline-nodes:nth-child(odd) .timeline-date {
  text-align: right;
}
div.card-listagem .timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}
div.card-listagem .timeline-nodes:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid #e1e9ff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
div.card-listagem .timeline-nodes:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid #e1e9ff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
div.card-listagem .timeline-image {
  position: relative;
  z-index: 100;
}
div.card-listagem .timeline-image::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #0d6efd;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
  margin-top: 20px;
}
div.card-listagem .timeline-image img {
  position: relative;
  z-index: 100;
}

/* Footer */
footer div.container a.text-decoration-none {
  color: black;
  transition: 0.85s;
}
footer div.container a.text-decoration-none:hover {
  color: #004d7c;
}

/* Media Querys */
/* Extra small device style */
@media (max-width: 575px) {
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
  }

  .timeline-image {
    position: absolute;
    left: -5%;
  }

  .timeline-image::before {
    width: 60px;
    height: 60px;
  }
}
/* Medium device style */
@media (max-width: 767.98px) {
  div.header-progresso {
    width: 100% !important;
  }

  div.card-body .card-body-historico {
    margin-bottom: 0.5rem !important;
  }

  div.card-listagem .container {
    margin-left: 0;
  }
  div.card-listagem .timeline {
    padding: 25px 0;
  }
  div.card-listagem .timeline::before {
    display: none;
  }
  div.card-listagem .timeline .timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
  }
  div.card-listagem .timeline .timeline-image::before {
    display: none;
  }
  div.card-listagem .timeline .timeline-content {
    width: 100%;
  }
  div.card-listagem .timeline .timeline-content h6 {
    font-size: 1.05rem;
  }

  .timeline-nodes:nth-child(odd) h6,
.timeline-nodes:nth-child(odd) p {
    text-align: left;
  }

  .timeline-nodes:nth-child(even) {
    flex-direction: row;
  }

  .timeline h6 {
    font-size: 1.7rem;
  }

  .timeline p {
    font-size: 14px;
  }

  .timeline-nodes:nth-child(odd) .timeline-content::after {
    display: none;
  }

  .timeline-nodes:nth-child(even) .timeline-content::after {
    display: none;
  }

  .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }
}

/*# sourceMappingURL=content.css.map */
